.App{
    padding: 0;
    margin: 0;
}

.saveBtn{
    border-radius: 50px;
    background: #010606;
    white-space: nowrap;
    padding:12px 30px;
    color: #fff;
    font-size:16px;
    outline: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    text-decoration: none;

    width:120px;
    height:40px;
    margin-Top:25px;
    margin-Left:25px;
}

.saveBtn:hover{
    transition: all 0.2s ease-in-out;
    background: #01bf72;
}

/*
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
